<section class="ctrans-section" id="header3-109" style="padding-top: 8%;">
   <div class="col-sm-8 col-sm-offset-2">
   <div class="row">
      <div class="col-md-12 col-md-offset-0">
         <h1>About Us: </h1>
      </div>
   </div>
   <div style="font-size: 150%;">
      <div>
         <div class="container" style="padding-top: 2%; padding-bottom: 2%; border-top: 2px solid grey;">
            <div class="row">
               ClearTranscripts is a simple, reliable and transparent service to obtain official transcripts from universities in India. It is our mission here to simplify the exchange of transcripts. Our Motto is Student First. We create shared value to students, Indian universities, universities abroad and employers by offering a simple and reliable transcripts delivery service.                        
            </div>
         </div>
      </div>
   </div>
   <div class="row" style="padding-top: 1%;">
      <div class="col-md-12 col-md-offset-0">
         <h1>Contacts: </h1>
      </div>
   </div>
   <div style="font-size: 150%;">
      <div>
         <div class="container" style="padding-top: 2%; border-bottom: 2px solid grey; padding-bottom: 2%; border-top: 2px solid grey;">
            <div class="row">
               <div class="col-md-3">Address</div>
               <div class="col-md-9">
                  <table>
                     <tr>
                        <td>
                           <p>ClearTranscripts</gs></p>
                           <p>#16, 10th Main, Jayanagar 3rd Block, Bengaluru&nbsp;560011, KA, India.</p>
                           <p>&nbsp;</p>
                           <p><strong>Technology development:</strong></p>
                           <p>#202, IIIT-B Innovation Center, Electronics City, Bangalore 560100.</p>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div>
         <div class="container" style="padding-top: 2%; border-bottom: 2px solid grey; padding-bottom: 2%;">
            <div class="row">
               <div class="col-md-3">Phone</div>
               <div class="col-md-9">
                  <table>
                     <tr>
                        <td>
                           <p>India:&nbsp;+918030752740</p>
                           <p><span>Mon - Fri 9am - 6pm IST</span></p>
                           <p><span>Intl: +19174844990</span></p>
                           <p><span>Mon - Fri 11am -&nbsp;8pm EST</span></p>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div>
         <div class="container"  style="padding-top: 2%; border-bottom: 2px solid grey; padding-bottom: 2%;">
            <div class="row">
               <div class="col-md-3">Email</div>
               <div class="col-md-9">customerservice@cleartranscripts.com</div>
            </div>
         </div>
      </div>
      <div>
         <div class="container"  style="padding-top: 2%; padding-bottom: 2%;" >
            <div class="row">
               <div class="col-md-3">Skype</div>
               <div class="col-md-9">customerservice_856</div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12 col-md-offset-0">
         <h1>To track your application status: </h1>
      </div>
   </div>
   <div style="font-size: 150%;">
      <div>
         <div class="container" style="padding-top: 2%; padding-bottom: 2%; border-top: 2px solid grey;">
            <div class="row">
               <a title="application status" href="http://www.cleartranscripts.com/pages/application-status">http://www.cleartranscripts.org/pages/application-status</a>                  
            </div>
         </div>
      </div>
   </div>
   <div class="row" style="padding-top: 1%;">
      <div class="col-md-12 col-md-offset-0">
         <h1>Customer Service Escalation Chain: </h1>
      </div>
   </div>
   <div style="font-size: 150%;">
      <div>
         <div class="container" style="padding-top: 1%; padding-bottom: 1%; padding-top: 2%; border-top: 2px solid grey;">
            <div class="row">
               <div class="col-md-3">Regular requests :</div>
               <div class="col-md-9">
                  <table>
                     <tr>
                        <td>
                           customerservice@cleartranscripts.com
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div>
         <div class="container" style="padding-top: 1%; padding-bottom: 1%;">
            <div class="row">
               <div class="col-md-3">First Level Escalation :</div>
               <div class="col-md-9">
                  <table>
                     <tr>
                        <td>
                           vasundarak@cleartranscripts.com
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div>
         <div class="container"  style="padding-top: 1%; padding-bottom: 3%;">
            <div class="row">
               <div class="col-md-3">Second Level Escalation :</div>
               <div class="col-md-9">roopashree@cleartranscripts.com</div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="ctrans-section" id="content1-96">
   <div class="ctrans-section__container container ctrans-section__container--middle">
   <div class="ctrans-article ctrans-article--wysiwyg col-sm-8 col-sm-offset-2">
   </div>
</section>