 <style>
 #comment-content
{
	font-size: 130%;
	padding-top: 2%;
}
 </style>

<section style="padding: 10%;">


<div id="fb-root"></div>
<div class="fb-comments" data-mobile="true" data-href="http://www.cleartranscripts.com/pages/all-testimonials" data-order-by="reverse_time" data-numposts="15" data-width="1000"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=497693970338532";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>


<div>
<p id="comment-content">
This is to confirm that I received my transcripts packet today. At the very outset, I would like to convey my sincere gratitude to every member of the Team for accomplishing this rather daunting task. My compliments to each one of you. I must say that the way the Team works is fabulous, each of my e-mails was answered in the most professional manner and all updates were also duly provided to me in a timely manner. I am so thankful to you for the amount of heartburn you have saved me from. The team is really wonderful, and trust me "Thank you" does not even begin to cover the great assistance that you have provided me with. Needless to say, any time in the future if I or any one known to me, would require such a service, "ClearTranscripts" would be my first and the only choice as well as recommendation. Cheers & God Bless !!
</p>
<h3>
RituRaj Singh, Bangalore University, Army Institute of Hotel Management & Catering Technology, BHM, 2011
</h3>
<p id="comment-content">
Yes! I made a right decision by choosing CES. I really appreciate your entire effort on this to finish my work very easily without any hassles. Today I have received my WES report without any issues. Entire credit goes to the CES team. Initially I was hesitant while making CES payment as this was the first time I am believing something which I have never tried. However, today I am very confident about CES team and I will let everyone know the services you guys are providing. I am going to recommend your service one of my friend. Once again thanks to everyone.
</p>
<h3>
NAVEEN REDDY AVUTU, Canada, JNTU Hyderabad, AURORA'S TECHNOLOGICAL & RESEARCH INSTITUTE, BE, 2010 
</h3>
<p id="comment-content">
Clear Transcript is the best way of obtaining the official transcripts from a University. I would recommend this service who seeks hassle free, reliable way of processing their transcripts for immigration of educational purposes. However, clear Transcript team was able to courier the transcripts even before their scheduled date and I am really happy with their service.
</p>
<h3>
Suraj Goonawardhana, Srilanka, Bangalore University, Garden City College, BSc, 2008
</h3>
<p id="comment-content">
I recently used ClearTranscripts services for Bangalore University; I am very happy to note that ClearTranscripts team was very transparent and earnest with information regarding their services. The process at Bangalore University can appear daunting but ClearTranscripts team was able to help navigate and accomplish the required services in a timely manner. I wish ClearTranscripts all the best.
</p>
<h3>
Rahul M Chandran, Doha, Qatar, Bangalore University, PES college of Engineering, BBM, 2003
</h3>
<p id="comment-content">
I wanted to say thank you for doing a great job with getting my transcripts and sending one copy to me and another to NCEES. I believe the job is complete and wanted to make sure you know I am very impressed with what you were able to do. I will be in touch if I ever need transcripts in the future - there is a possibility that might happen. Thanks again and thank you ClearTranscripts.
</p>
<h3>
Anand Jayakaran, Seneca, USA, Bangalore University, BMS College of Engineering, B.E, 1997
</h3>
<p id="comment-content">
I am writing you to let you know that I am very happy with your service. I really appreciate your efforts and support. And so, want to congratulate your team. The kind of service which you are providing is unique in our country and I, sincerely want you to expand your support throughout India. Also, I wish you  to extend your service to all University related work like getting mark sheet, degree certificate, attestation, etc. All these are truly beneficial to the candidates like me who have passed out from far off places and so, difficult to visit college/university, just to get these things done. I want you to continue this good work. Last but not the least, wishing you a happy and prosperous Diwali!
</p>
<h3>
Shalav Sharma, Bangalore University, MS Ramaiah Institute of Technology, MCA, 2000
</h3>
<p id="comment-content">
Overall very satisfied with service received from ClearTranscripts. Living in Switzerland without much support in Bangalore to get the transcripts, I was wondering how to go about it. Searching on web led to CT. The service provided was excellent, timely and received prompt responses to my questions. The initial e-mail received from CT team regarding the process and documents required was very clear and I had to just follow the instructions.  I would not hesitate to recommend CT to anyone who wishes to avail such services. It saved me lot of time and effort. I would say, Job well done and continue the great work. CT exceeded my expectations in all respects.
</p>
<h3>
Rajesh Bhat, Switzerland, Bangalore University, Vijaya College, BCom, 1997
</h3>
<p id="comment-content">
I would like to really thank you for offering such a wonderful service for people like us who have lost touch with our universities in India. It is a tedious job to get the transcripts if we are not in person at the University but with your service you have really helped to make it look very easy. Although I had a little trouble understanding how to order from the website your courteous responses and understanding of my urgency really has been great .I always had a prompt call back or an email to answer all my queries no matter when I posted them. Thank you so much ClearTranscripts for being patient and helping me with the whole process.I will definitely recommend it to my friends if ever they are in need.
</p>
<h3>
Ramya Gundavajhula, San Mateo, CA, JNTU, Guru Nanak Engineering College, BTech, 2009
</h3>
<p id="comment-content">
Thanks for the wonderful service that has been provided by your organisation to us. It would have been highly unachievable without your help. We appreciate your service to the society. Your team made our lives very easy by providing the transcripts on time. This is a awesome service being provided by you, which would help to make better career. We wish you all the very best for the organisation future endeavors and encourage to come up with these kind of ideas.
</p>
<h3>
Nirmala Palakuri, Singapore. JNTU Anantapur, B.E and Andhra University, LLB, 2000.
</h3>
<p id="comment-content">
I used ClearTranscripts to obtain my transcripts from VTU, Belgaum and send them to WES Canada. They have been wonderful, committed and professional. They obtained my transcripts on time as promised and sent it to WES Canada using reputed courier service (FedEx - this is a major point in my opinion) and through out the time, staff have been mindful in responding to my various queries and also accommodate my requests which was not there earlier and their response to email queries is super quick. I recommend ClearTranscripts to anyone looking to obtain their university transcripts - service is not expensive and they are professional and committed. "Why take the hassle yourself when their is a reliable online service for a decent cost" is my take on this. 
</p>
<h3>
Adithya A C, VTU, B.E 2007
</h3>
<p id="comment-content">
I'm very happy with the service that clear transcripts team provided. It was the easiest way to get educational transcripts from  university even though I had completed graduation quiet sometime (more than 5-6 years) before. Students who are applying for abroad studies for U.S.A/Canada can get their transcripts without any doubt through ClearTranscripts.com. The team has been very helpful in providing information regarding the transcripts application process or other details through their helpline.
</p>
<h3>
Vamsi Krishna, Andhra University, M V G R C E, Vizianagaram, B.Tech 2008
</h3>
<p id="comment-content">
This is Srikanth from Singapore. I am really thankful to you. I was need of transcripts from JNTU for Canada Immigration. Fortunately found this website. I got transcripts in short time after my payment. I sent to WES and all went fine in short time. I didn't have any issues to clear ECA . Their customer service too very prompt. I appreciate your valuable service. Thank You once again. 
</p>
<h3>
Srikanth Rokkam, Singapore, JNTU Hyderabad, SVITS College of  Engineering, B.Tech 2008
</h3>
<p id="comment-content">
GMT Educational Services is a blessing for people who are staying abroad or away from the place of their university and want their degree transcripts. I am staying in Gurgaon (Haryana), did my BE from Bangalore University in Year 2001 and i needed my degree transcript. I simply uploaded my application and i called GMT Services and actually got a call back after few minutes assuring that everything is in order and i would get my degree transcripts on time. I believe GMT Services offers a simple, reliable & transparent way to get transcripts and would recommend to others.
</p>
<h3>
Ripu Daman Singh, Bangalore University, Bangalore Institute of Technology, B.E 2001
</h3>
<p id="comment-content">
GMT Team was really professional and great with the handling of my transcripts from University of Mysore.  I was impressed by the procedure followed by GMT Educational Services that involved obtaining proper authorization letters from the candidates to request a copy of the transcripts from the university. They supported me in quickly initiating the transcript process and were always there to provide me the status on it. The transcripts were sent to me without any delays as soon as they were received from the University. I wholeheartedly recommend GMT Educational Services, a non-profit educational services company, for any transcripts services and wish them  all the best in their ventures.
</p>
<h3>
Mohit Gupta, New Jersey, USA, University of Mysore, Malnad College of Engineering, B.E 2000
</h3>
<p id="comment-content">
When I was thinking of applying for a Canada visa and looked at all the requirements, it became clear that obtaining transcripts from the University is the most difficult step. I had resigned myself to travelling to India and staying there for a week in order to obtain the transcripts. Then I was googling about the process, I accidentally found Cleartranscripts. It was too good to be true! I immediately decided to try the service and was pleasantly surprised at the quick delivery of transcripts. Throughout the process, I received prompt replies for my queries. And the cost was not even a tiny fraction of what my trip to Hyderabad cost.  Many thanks to the team at ClearTranscripts!
</p>
<h3>
Sudheera G, Osmania University, Vasavi College of Engineering, B.Tech 2005
</h3>
<p id="comment-content">
I had to apply for Canada immigration and therefore needed transcripts from the the University to be directly sent to WES  for credential evaluation. I read in some blog about Cleartranscripts, I saw they offer transcript services for JNTU Hyderabad. I just applied online through their website. Boom! WES received my transcripts in sealed envelope and they gave me positive evaluation for the BTech course. I wish ClearTranscripts offers these services to all other universities also.
</p>
<h3>
Tilak Chowdhary, JNTU, Audisankara College of Engineering and Technology, B.Tech 2006
</h3>
<p id="comment-content">
I was in dire need of my educational transcripts of B.Tech that i had done with Jawaharlal Nehru Technological University and I was in Canada and i needed a friend or my father to get this done and I was looking for information on the university site to make sure that this could be done in a single attempt. Lucky day it was for me that i stumbled upon Cleartranscripts.com, an excellent site which helped me get my transcripts in no time, leaving me totally stumped with their extremely courteous service and excellent return time in queries and getting your transcripts done. I TOTALLY TOTALLY RECOMMEND it and will do spread this info to people in need. I wish ClearTranscripts spreads its wings wide open and covers as many universities across India and help serve a lot many individuals like me. Thanks to ClearTranscripts once again.
</p>
<h3>
Vinay Tiruthopu, Canada, JNTU, Vidya Vikas Institute of Technology, B.Tech, 2006  
</h3>
<p id="comment-content">
I never thought it would be even possible to order my transcript away from Hyderabad or India.  Just when I was preparing to call my people at hyderabad to make arrangements for collecting my transcripts I came across this site and was ecstatic to find out such a hassle free, convenient and fast solution to be already out there in the market.  Immediately I ordered my transcripts through the site at quite reasonable rates and to my surprise they delivered just as they said. No deviation from their promise the transcripts were there right in front of my door at Missouri USA. I am so glad to have found you guys and would like to thank you a ton. Great job and keep it going.
Atreyee Dutta Gupta, Missouri, United States, JNTU, Sri Indu College of Engineering and Technology, B.Tech 2009
I recently got my transcripts from the University of Mysore through ClearTranscripts. I graduated nearly 28 years back and I have been living in the U.S for many years. So, getting transcripts was almost like an impossible task for me. Not until I bumped into ClearTranscripts. They made the entire process so smooth, I just have no words to express my gratitude, appreciation and satisfaction for all the work done by the team. They are professional, knowledgeable and helpful people that I have come across in the recent times. They took extra steps of calling the right folks in the University and got the transcripts at a very short period of time. Without any hesitation, I strongly recommend ClearTranscripts for folks who are in need of transcripts. ClearTranscripts team is too good to be true!
</p>
<h3>
Parthasarathy N, California, United States, University of Mysore, PES College of Engineering, B.E, 1987
</h3>
<p id="comment-content">
Thank you very much for your prompt and professional service! I am working in Dubai and in the process of migrating to United States this year. I was advised by my relatives that the official transcripts of University Degrees I have achieved plays an important role for employment and to pursue further studies. I knew that taking some days off from work, traveling and to obtain these documents within the time frame is not an easy task. I did some search on google and came across the website of ClearTranscripts . To be honest, at the start I was bit hesitant for online payment and service but I must say that the team of ClearTranscripts/ GMT was truly professional. I was glad to receive regular updates on my transcript status without me chasing and that is service! I would certainly recommend ClearTranscripts and I wish that your transcript services are available for more universities. Thank you for the Bangalore University Transcripts and all the best.
</p>
<h3>
Samson John, Dubai, Bangalore University Administrative Management College, MBA, 2001
</h3>
<p id="comment-content">
Thanks for your service. It was quick and easy and hassle free. I will definitely recommend it to friends and family. Cheers!
</p>
<h3>
Venkat Chadalwada, California, United States, Osmania University, Chaitanya Bharati Institute of Technology, BTech, 2009
</h3>
<p id="comment-content">
I had my own limitations to visit Bangalore University to apply for Transcripts and I wanted to delegate this cumbersome task to someone reliable and I just found the right authority in the name of Cleartranscripts.com. Their service is professional and authentic and the staff is very responding and courteous. For the first time I have managed to believe in transacting on a Indian website and Cleartranscripts.com has only uplifted my faith. I for sure recommend this to anyone in need. Infact I wish that they should tie up with all the Universities to make life easy and guilt free for all those students who sick up on the University campuses to get their student records.
</p>
<h3>
Haseena M, United Kingdom, Bangalore University Maharani Lakshmi Ammani College for Women, BSc, 2000
</h3>
<p id="comment-content">
I stay at Mumbai and I passed out of Andhra University. I needed my transcripts from Andhra University at Visakhapatnam. I requested for my transcripts on tuesday and I got them delivered at my residence in Mumbai on saturday. It was really that easy. The speed with which I gave whatever documents as needed and the speed with which Cleartranscripts moved, synchronized, made getting the transcripts a cake walk. Really impressed with the quality of service and speed of delivery. Big thanks to the team who put this service together. I could get hold of my transcripts without having to travel to Visakhapatnam from Mumbai to get the transcripts. 
</p>
<h3>
Ravindra Bathula, Mumbai, Andhra University Nyaya Vidya Parishad Law College, Bachelor of Laws LLB, 1993
</h3>
<p id="comment-content">
This is a good service, I will surely recommend my friends and colleagues regarding your fabulous service.
</p>
<h3>
Aju Mathew, Edmonton Canada, VTU PA College of Engineering, B.E, 2005
</h3>
<p id="comment-content">
Thank you, I appreciate your service and that transcripts were delivered as per the expected timeline. All the best for your endeavour.
</p>
<h3>
Shankar K L, VTU, B.E Computer Science, 2008
</h3>
<p id="comment-content">
I am really happy with your service, especially the time at which the documents were delivered. I never expected to get them so soon. Your prompt responses and replies to my mails made me even more happier. I just want to say that people can really count upon you guys for getting their transcripts without any hassles. All the best with your venture. 
</p>
<h3>
Vinay, Bangalore University Vijaya College, BCom, 2008
</h3>
<p id="comment-content">
I am from Pune. When I was in a need to get my transcripts from Andhra University, I have contacted a few friends staying in Visakhapatnam. Since they were all not aware of the process and do not have time to go to the university and ask for it. I have wasted one month of valuable time and later when I was searching in internet, I got to know about ClearTranscripts.com. I thought of giving a try and applied. They have got the transcripts from Andhra University with in the time they have mentioned and posted back to me. So I could able to finish my application in time. It saved me a lot of time and money. 
Thank you.. ClearTranscripts
</p>
<h3>
Santhi Karneti, Andhra University A.U College of Science and Technology, MSc Human Genetics, 2007
</h3>
<p id="comment-content">
I am really impressed by the service of ClearTranscripts. I wanted to apply for US universities and they required sealed transcripts for my Bachelor degree from Bangalore University. Unfortunately Bangalore University does not have any online services to order for transcripts , so cleartranscripts services really  helped me procure my Bangalore University documents within 11 working days. As I am currently living in US, there was no way I could have managed to get transcripts at such short notice. Thanks to Cleartranscripts I got my transcripts in time to meet my universities deadlines.
</p>
<h3>
Shilpa Senapati, Sanjose CA, Bangalore University Dayananda Sagar College of Biological Sciences, BSc, 2007
</h3>
<p id="comment-content">
I have to submit my transcripts to a university for my higher education, I came to know I have two choices. One is to travel all the way to Hyderabad from Bangalore (Where I currently stay), and go to JNTU and apply and wait for hours for the reply and then collect it and travel back to bangalore. All this I should do in a weekend and worst part is Saturdays the university Office and banks works only half of the day. Second, Open my mobile browser, Go cleartranscripts.com and Fill my details and select the university and list of docs I need, pay the amount. Done. I got all docs I need by express courier and that too one day before the time I mentioned. I am glad I found this in some reviews. They are very responsive and they value your priority.
Now guys you choose either a mobile click on a daunting task to travel.
</p>
<h3>
Ramu Ayithy, Ariba Technologies, Bangalore, JNTU Institute of Aeronautical Engineering, BTech, 2009
</h3>
<p id="comment-content">
I have tried to get my B.tech JNTU transcripts using my friend's help in Hyderabad, but it was unsuccessful then I was searching for an alternative way. Luckily I found ClearTranscripts website on one of the JNTU forums, I put my request on feb 8th and I got my transcripts delivered within 10 working days with no effort. I was able to track my application progress on www.cleartranscripts.com website all the time. I always got quick responses for my queries and I am very happy with this wonderful service provided by ClearTranscripts.Thanks alot!! I really appreciate your service and the way you responded!!
</p>
<h3>
Sarat Jamdani, Liverpool, UK, JNTU QIS College of Engineering Ongole, BTech, 2008
</h3>
<p id="comment-content">
When I needed signed transcripts from Bangalore University for my graduate school application in USA, I was not sure how to obtain them as it has been many years since my graduation. I happened to see the website of GMT educational services. When I called them they promptly answered the phone and assured me that they can deliver the transcripts. They are very professional. The order was processed as soon as all the documents and fees were paid and I received the sealed envelope within 10 days. This is a genuine service and very useful to graduates who live outside the country. I truly appreciate their help and prompt service.
</p>
<h3>
Sushama Padvetnaya, GA, USA, Bangalore University RV College of Engineering, BE, 1998
</h3>
<p id="comment-content">
Just wanted to let you know that I received the package today. I am elated at the quick and timely services provided by ClearTranscripts. Wishing you success in your endeavors and efforts to expand this service to cover a larger university base.  If I come across someone who is looking to obtain transcripts from BU or nearby universities (services currently provided by ClearTranscripts), I will definitely recommend your services and provide them with your contact. 
</p>
<h3>
Krishnan Sriram, WV, USA, Bangalore University Christ College, BSc, 1987
</h3>
<p id="comment-content">
Thank you very much for your service. I am very pleased to use this service.
</p>
<h3>
Naveen Sai Parakalla, Hyderabad, Osmania University Deccan College of Engineering & Technology, BTech, 2006
</h3>
<p id="comment-content">
Thank you very much... I really appreciate your quick turn around.
</p>
<h3>
Kiran Kumar Chandra Shekar, VTU, 2007
</h3>
<p id="comment-content">
I was very pleased with the service you have provided for getting my transcript from Bangalore university, I could save my time and money. GetMyTranscript is trusted service.You have been extremely friendly whenever i called GMT. Once again thank you for the excellent service
</p>
<h3>
Hasif Hussain MK, Bangalore University, NAISH College, MSc, 2011
</h3>
<p id="comment-content">
I found your service through my friend while I was chatting. Then I talked with customer service executive found everything to be perfect and applied. Even though I am nearby to Bangalore I was unable to come and apply as I work full time in a job, I can't travel for more than two days as it might cause a disruption at my work place. I am so happy that I could get my transcript at the right time
</p>
<h3>
Shiju Abraham, Bangalore University, T John College, MSc, 2007
</h3>
<p id="comment-content">
Thanks a lot for your service. You have saved lot of my time and money
</p>
<h3>	
Karan Patel, Bangalore University, BBM, 2012
</h3>


</div>

</section>

