<section style="padding: 10%;">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                    <h1>ACCOUNT DETAILS <small>     LISTING ALL APPLICATIONS ID</small></h1></div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div>
        <div class="container">
            <div class="row" style="background-color: lightblue;">
                <div class="col-md-4" >
                <h3>APPLICATION </h3></div>
                <div class="col-md-4">
                <h3>PAYMENT STATUS</h3></div>
                <div class="col-md-4">
                <h3>FULFILLMENT STATUS</h3></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="font-size: 200%;">
            <div class="row">
                <div class="col-md-4">
                    <%= link_to "7780", temp_individual_application_details_path %>
                </div>
                <div class="col-md-4">Confirmed</div>
                <div class="col-md-4">Pending</div>
            </div>
        </div>
    </div> 
    <div>
        <div class="container"  style="font-size: 200%;">
            <div class="row">
                <div class="col-md-4">
                    <%= link_to "8081", temp_individual_application_details_path %>
                </div>
                <div class="col-md-4">Confirmed</div>
                <div class="col-md-4">Pending</div>
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="padding-top: 3%;">
            <div class="row">
                <div class="col-md-12">
                    <p>FOR MORE DETAILED STATUS CLICK ON APPLICATION NUMBER</p>
                </div>
            </div>
        </div>
    </div>
</section>
