
<section style="padding: 10%;">
   <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <h1>ORDER STATUS</h1></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row" style="background-color: lightblue;">
                <div class="col-md-4">
                <h3>APPLICATION NUMBER</h3></div>
                <div class="col-md-3">
                <h3>UNIVERSITY </h3></div>
                <div class="col-md-2">
                <h3>SETS </h3></div>
                <div class="col-md-3">
                <h3>STATUS </h3></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row" style="font-size: 200%; padding-top: 2%;">
                <div class="col-md-4">7780</div>
                <div class="col-md-3">Banglore university</div>
                <div class="col-md-2">2</div>
                <div class="col-md-3">Pending</div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding-top: 2%;">
                    <div class="page-header">
                    <h1>BILLING ADDRESS<small>    AND PAYMENT STATUS</small></h1></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <h3>Payment Status :</h3></br>
                <h4>Jay Kulkarni</h4></br>
                <h4>B4/109 Gokulam Apartments, Kanakpura Road </h4></br>
                <h4>Banglore Karnataka </h4></br>
                <h4>India 560011</h4></br>
                <h4>8861114444 </h4></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row" style="background-color: lightblue; margin-top: 5%;">
                <div class="col-md-3">
                <h3>ITEM </h3></div>
                <div class="col-md-3">
                <h3>PRICE </h3></div>
                <div class="col-md-3">
                <h3>QUANTITY </h3></div>
                <div class="col-md-3">
                <h3>TOTAL </h3></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row" style="font-size: 200%; margin-top: 2%;">
                <div class="col-md-3" style="font-size: 70%; color: grey; margin-top: 1%;"> Custom Service - Rs 11500</div>
                <div class="col-md-3"> Rs 11500</div>
                <div class="col-md-3"> 1 </div>
                <div class="col-md-3"> Rs 11500</div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row" style="background-color: lightblue; margin-top: 2%;">
                <div class="col-md-3">
                <h3>SUBTOTAL </h3></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                <h3> Rs 11500</h3></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</section>
</section>

