<section style="padding-top: 8%; padding-left: 40px; background-color: white;">
  <br/>
  <br/>

  <div class="container-fluid">
  <div class="row main-row" >

    <center>
      <font size="4" color="blue"><b>Payment Status</b></font>
      <table border="1">
        <tr>
          <td>Payment Status</td><td><%=@options['order_status']%></td>
        </tr>
        <tr>
          <td>PG Order Id</td><td><%=@options['order_id']%></td>
        </tr>
        <tr>
          <td>Bank Reference</td><td><%=@options['bank_ref_no']%></td>
        </tr>
        <tr>
          <td>Tracking Id</td><td><%=@options['tracking_id']%></td>
        </tr>
      </table>
    </center>
  </div>
</div>
  <br/>
  <br/>
</section>