<section class="ctrans-section ctrans-section--relative ctrans-section--fixed-size" id="contacts2-90" style="background-color: rgb(60, 60, 60);">
   <div class="ctrans-section__container container">
      <div class="ctrans-contacts ctrans-contacts--wysiwyg row">
         <div class="col-sm-6">
            <figure class="ctrans-figure ctrans-figure--wysiwyg ctrans-figure--full-width ctrans-figure--no-bg">
               <div class="ctrans-figure__map ctrans-figure__map--short ctrans-google-map">
                  <p class="ctrans-google-map__marker" data-coordinates="12.9329463,77.58386919999998"></p>
               </div>
            </figure>
         </div>
         <div class="col-sm-6">
            <div class="row">
               <div class="col-sm-5 col-sm-offset-1">
                  <p class="ctrans-contacts__text"><strong>ADDRESS</strong><br>
                     ClearTranscripts<br>
                     #16, 10th Main<br>
                     Jayanagar 3rd Block<br>
                     Bengaluru 560011, KA, India.<br><br>
                     <strong>CONTACTS</strong><br>
                     Email: customerservice@cleartranscripts.com<br>
                     Phone: INDIA +918030752740<br>
                     Phone: Intl: +19174844990
                  </p>
               </div>
               <div class="col-sm-6">
                  <p class="ctrans-contacts__text"><strong>LINKS</strong></p>
                  <ul class="ctrans-contacts__list">
                     <li><a href="" class="text-gray">HOME</a><a class="ctrans-contacts__link text-gray" href=""></a></li>
                     <li><a href="" class="text-gray">GUIDELINES</a><a class="ctrans-contacts__link text-gray" href=""></a></li>
                     <li><a href="" class="text-gray">VIDEO</a></li>
                     <li><a href="" class="text-gray">BLOG</a></li>
                     <li><br></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section>
<footer class="ctrans-section ctrans-section--relative ctrans-section--fixed-size" id="footer1-91" style="background-color: #1673e6;">
   <div class="ctrans-section__container container">
      <div class="ctrans-footer ctrans-footer--wysiwyg row">
         <div class="col-sm-12">
            <p class="ctrans-footer__copyright"></p>
            <p style="color: white;">Copyright © 2016 EduRecords Education Services Pvt Ltd  <a href="license.txt" style="color: white;">License</a></p>
            <p></p>
         </div>
      </div>
   </div>
</footer>
</section>